{% extends 'base.html' %}
{% load static %}
{% block content %}

<script>
    function trackClick(link) {
        fetch(`/track_url_click/?url=${encodeURIComponent(link)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status !== 'success') {
                    console.error('Failed to track URL click');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<hr>
    <h2 class="text-center"><strong>正評新聞</strong></h2>
<hr>

<div class="container">
    <div class="row">


            <ul>
                {% for single_news in news_list3 %}
                    {% if single_news.link != "unknow domain" %}
                        <li class="ul-hover ul-a ul-b">
                            <div class="row">
                                <div class="col-lg-4">
                                    {% if single_news.image_url == 'C:/Users/ntubimd/website/news/static/images/1.png' %}
                                    <img src="{% static 'images/1.png' %}" alt="News Image" width="100%" height="100%" class="img-fluid">
                                    {% else %}
                                        <img src="{{ single_news.image_url }}" alt="News Image" width="100%" height="100%">
                                    {% endif %}
                                </div>
                                
                                    
                                <div class="col-lg-8">
                                    
                                    <h3><a href="{{ single_news.link }}" target="_blank" class="news-title" onclick="trackClick('{{ single_news.link }}')">{{ single_news.title }}</a></h3>
                                        {% if single_news.content != "unknow domain" %}
                                            <p>{{ single_news.summar }}</p>
                                        {% else %}
                                            <p></p> <!-- Display blank if content is "unknown domain" -->
                                        {% endif %}
                                        <p class="news-details"><strong>上傳日期:</strong> {{ single_news.pub_date }}</p>
                                        <p class="news-details"><strong>新聞平台:</strong> {{ single_news.source }}</p>
                                        <!-- 根據情緒得分顯示圖片 -->
                                        {% if single_news.sentiment < -0.3 %}
                                            <img src="{% static 'images/負評.png' %}" alt="負評" class="sentiment-icon" width="50" height="50" style="float: right;">
                                        {% elif single_news.sentiment > 0.3 %}
                                            <img src="{% static 'images/正評.png' %}" alt="正評" class="sentiment-icon" width="50" height="50" style="float: right;">
                                        {% endif %}
                                        <p class="news-details"><strong>情绪得分:</strong> {{ single_news.sentiment}}</p>
                                </div> 
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

    </div>
</div>

{% endblock %}