{% extends 'base.html' %}
{% load static %}
{% block content %}

<script>
    function trackClick(newsUrl) {
        fetch(`/track_url_click/?url=${encodeURIComponent(newsUrl)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status !== 'success') {
                    console.error('Failed to track URL click');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<hr>
    <h2 class="text-center"><strong>{{ keyword }}</strong></h2>
<hr>

<div class="container">
    <div class="row">


            <ul>
                {% for single_news in news_search %}
                {% if single_news.newsurl != "unknow domain" %}
                <li class="ul-hover ul-a ul-b">
                    <div class="row">
                        <div class="col-lg-4">
                            {% if single_news.image_url == 'C:/Users/ntubimd/website/news/static/images/1.png' %}
                            <img src="{% static 'images/1.png' %}" alt="News Image" width="100%" height="100%" class="img-fluid">
                            {% else %}
                                <img src="{{ single_news.image_url }}" alt="News Image" width="100%" height="100%">
                            {% endif %}
                        </div>
                        
                            
                        <div class="col-lg-8">
                            
                            <h3><a href="{{ single_news.newsUrl }}" target="_blank" class="news-title" onclick="trackClick('{{ single_news.newsUrl }}')">{{ single_news.title }}</a></h3>
                                {% if single_news.content != "unknow domain" %}
                                    <p>{{ single_news.summar }}</p>
                                {% else %}
                                    <p></p> <!-- Display blank if content is "unknown domain" -->
                                {% endif %}
                                <p class="news-details"><strong>上傳日期:</strong> {{ single_news.pub_date }}</p>
                                <p class="news-details"><strong>新聞平台:</strong> {{ single_news.source }}</p>
                        </div> 
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

    </div>
</div>

{% endblock %}