{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header text-center">
                  <H2><strong>忘記密碼</strong></H2>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button class="btn btn-secondary" type="submit">發送信件</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{% url 'login' %}">返回登入</a>
                </div>
              </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock %}