{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'stock_detail_base.html' %}
<div class="container">
  <div class="row">
      <div class="col-md-12 stock_block">
          <div class="tab-content">
              <div class="tab-pane fade show active">
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script>
                      function removeNullValues(data, timestamps) {
                          for (var i = data.length - 1; i >= 0; i--) {
                              if (data[i] === null) {
                                  data.splice(i, 1);
                                  timestamps.splice(i, 1);
                              }
                          }
                          return { data: data, timestamps: timestamps };
                      }
                      function updateStockData() {
                          $.ajax({
                              url: '/api/proxy_get_stock_info/{{ stock_code }}/',
                              type: 'GET',
                              success: function(response) {
                                var price = response.data[0].chart.indicators.quote[0].close;
                                var timestamps = response.data[0].chart.timestamp;

                                var result = removeNullValues(price, timestamps);
                                price = result.data;
                                timestamps = result.timestamps;

                                Plotly.react('stock-chart', {
                                    data: [{
                                        x: timestamps.map(timestamp => new Date(timestamp * 1000)),
                                        y: price,
                                        type: 'scatter',
                                        mode: 'lines'
                                    }],
                                    layout: {
                                        title: '{{ stock.stock_code }}即時行情',
                                        xaxis: {
                                            title: '{{ stock.date }}'
                                        },
                                        yaxis: {
                                            title: '價格'
                                        }
                                    }
                                });
                            },
                              error: function(error) {
                                  console.log(error);
                              }
                          });
                      }
                      function week(){
                        var currentDate = new Date();
                        var currentDay = currentDate.getDay(); // 得到今天星期幾
                        var currentHour = currentDate.getHours(); // 得到現在時間的小時
                        var currentMinute = currentDate.getMinutes(); // 得到現在時間的分鐘
                        if (currentDay >= 1 && currentDay <= 5 && currentHour >= 9 && (currentHour < 13 || (currentHour === 13 && currentMinute <= 30))) {
                          updateStockData();
                          setInterval(updateStockData, 60000);
                        }else{
                          updateStockData();
                        }
                      }
                      week();
                      </script>
                    <div id="stock-chart"></div>
                  </div>
                  <div class="col-lg-5">
                    <table class="table table-striped table-hover text-center">
                      <thead>
                        <tr>
                          <th scope="col" colspan="4">資料時間{{ stock.date }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>成交</td>
                          <td>{{ stock.close_price }}</td>
                          <td>昨收</td>
                          <td>{{ yesterday_stock.close_price }}</td>
                        </tr>
                        <tr>
                          <td>開盤</td>
                          <td>{{ stock.open_price }}</td>
                          <td>漲跌</td>
                          <td>{{ stock.pos_neg }}{{ stock.change_percent }}</td>
                        </tr>
                        <tr>
                          <td>最高</td>
                          <td>{{ stock.high_price }}</td>
                          <td>成交股數</td>
                          <td>{{ stock.total_volume }}</td>
                        </tr>
                        <tr>
                          <td>最低</td>
                          <td>{{ stock.low_price }}</td>
                          <td>成交金額</td>
                          <td>{{ stock.total_value }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
