{% extends 'base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h2 class="text-center"><strong>{{ stock.stock_name }}</strong></h2>
    <hr>
    <div class="container">
      <div class="row">
          <div class="col-md-12 stock_block">
              <ul class="nav nav-tabs anchor-nav" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <button class="nav-link active anchor" id="green-a-tab" data-bs-toggle="tab" data-bs-target="#green-a-tab-pane" type="button" role="tab" aria-controls="green-a-tab-pane" aria-selected="true">
                        個股概況
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link anchor" id="green-b-tab" data-bs-toggle="tab" data-bs-target="#green-b-tab-pane" type="button" role="tab" aria-controls="green-b-tab-pane" aria-selected="false">
                        技術分析
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link anchor" id="green-c-tab" data-bs-toggle="tab" data-bs-target="#green-c-tab-pane" type="button" role="tab" aria-controls="green-c-tab-pane" aria-selected="false">
                        股利分配
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link anchor" id="green-d-tab" data-bs-toggle="tab" data-bs-target="#green-d-tab-pane" type="button" role="tab" aria-controls="green-d-tab-pane" aria-selected="false">
                        持股分析
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link anchor" id="green-e-tab" data-bs-toggle="tab" data-bs-target="#green-e-tab-pane" type="button" role="tab" aria-controls="green-e-tab-pane" aria-selected="false">
                        新聞
                      </button>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 stock_block">
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="green-a-tab-pane" role="tabpanel" aria-labelledby="green-a-tab">
                    <div class="row align-items-center">
                      <div class="col-lg-7">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <script>
                          function removeNullValues(data, timestamps) {
                              for (var i = data.length - 1; i >= 0; i--) {
                                  if (data[i] === null) {
                                      data.splice(i, 1);
                                      timestamps.splice(i, 1);
                                  }
                              }
                              return { data: data, timestamps: timestamps };
                          }
                          function updateStockData() {
                              $.ajax({
                                  url: '/api/proxy_get_stock_info/{{ stock_code }}/',
                                  type: 'GET',
                                  success: function(response) {
                                    var price = response.data[0].chart.indicators.quote[0].close;
                                    var timestamps = response.data[0].chart.timestamp;

                                    var result = removeNullValues(price, timestamps);
                                    price = result.data;
                                    timestamps = result.timestamps;

                                    Plotly.react('stock-chart', {
                                        data: [{
                                            x: timestamps.map(timestamp => new Date(timestamp * 1000)),
                                            y: price,
                                            type: 'scatter',
                                            mode: 'lines+markers'
                                        }],
                                        layout: {
                                            title: '{{ stock.stock_code }}即時行情',
                                            xaxis: {
                                                title: '{{ stock.date }}'
                                            },
                                            yaxis: {
                                                title: '價格'
                                            }
                                        }
                                    });
                                },
                                  error: function(error) {
                                      console.log(error);
                                  }
                              });
                          }
                          function week(){
                            var currentDate = new Date();
                            var currentDay = currentDate.getDay(); // 得到今天星期幾
                            var currentHour = currentDate.getHours(); // 得到現在時間的小時
                            var currentMinute = currentDate.getMinutes(); // 得到現在時間的分鐘
                            if (currentDay >= 1 && currentDay <= 5 && currentHour >= 9 && (currentHour < 13 || (currentHour === 13 && currentMinute <= 30))) {
                              updateStockData();
                              setInterval(updateStockData, 60000);
                            }else{
                              updateStockData();
                            }
                          }
                          week();
                          </script>
                        <div id="stock-chart"></div>
                      </div>
                      <div class="col-lg-5">
                        <table class="table table-striped table-hover text-center">
                          <thead>
                            <tr>
                              <th scope="col" colspan="4">資料時間{{ stock.date }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>成交</td>
                              <td>{{ stock.close_price }}</td>
                              <td>昨收</td>
                              <td>{{ yesterday_stock.close_price }}</td>
                            </tr>
                            <tr>
                              <td>開盤</td>
                              <td>{{ stock.open_price }}</td>
                              <td>漲跌</td>
                              <td>{{ stock.pos_neg }}{{ stock.change_percent }}</td>
                            </tr>
                            <tr>
                              <td>最高</td>
                              <td>{{ stock.high_price }}</td>
                              <td>成交股數</td>
                              <td>{{ stock.total_volume }}</td>
                            </tr>
                            <tr>
                              <td>最低</td>
                              <td>{{ stock.low_price }}</td>
                              <td>成交金額</td>
                              <td>{{ stock.total_value }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="green-b-tab-pane" role="tabpanel" aria-labelledby="green-b-tab">
                    <div class="row align-items-center">
                      <div class="col-lg-12">{{ plot_stock_price|safe }}</div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="green-c-tab-pane" role="tabpanel" aria-labelledby="green-c-tab">
                    <div class="row align-items-center">
                      <div class="col-lg-12">{{ plot_stock_dividend | safe }}</div>
                      <div class="col-lg-12">
                        {% if dividends %}
                          <table class="table table-striped table-hover text-center">
                              <thead>
                                  <tr>
                                      <th>發放<br>期間</th>
                                      <th>所屬<br>期間</th>
                                      <th>現金<br>股利</th>
                                      <th>股票<br>股利</th>
                                      <th>現金<br>殖利率</th>
                                      <th>除息日<br>昨收價</th>
                                      <th>除息日</th>
                                      <th>除權日</th>
                                      <th>現金股利<br>發放日</th>
                                      <th>股票股利<br>發放日</th>
                                      <th>填息天數</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for dividend in dividends %}
                                      <tr>
                                          <td>{{ dividend.Distribution_Date }}</td>
                                          <td>{{ dividend.Belong }}</td>
                                          <td>{{ dividend.Cash_Dividend }}</td>
                                          <td>{{ dividend.stock_Dividend }}</td>
                                          <td>{{ dividend.Cash_Yield }}</td>
                                          <td>{{ dividend.Ex_Date_Close }}</td>
                                          <td>{{ dividend.Ex_Dividend_Date }}</td>
                                          <td>{{ dividend.Ex_Right_Date }}</td>
                                          <td>{{ dividend.Cash_Dividend_Date }}</td>
                                          <td>{{ dividend.stock_Dividends_Date }}</td>
                                          <td>{{ dividend.Back_To_Close_Date }}</td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      {% else %}
                          <H3 class="text-center"><strong>{{ stock_code }}未有股利發放紀錄</strong></H3>
                      {% endif %}
                        <div class="mt-5 text-muted">
                          <h6>現金股利殖利率</h6>
                          <p>公式：現金股利殖利率 = 現金股利 / 月均價 * 100% </p>
                          <p>現金股利殖利率是以現金股利和股價做相比，衡量潛在報酬率的高低。 現金股利殖利率越高，潛在報酬率越高。 觀察現金股利殖利率有幾個重點：</p>
                          <ol>
                            <li>股息不要只看一年，要看一個景氣循環，或至少五年。</li>
                            <li>會賺錢的公司才會配息，所以重點還是在公司的產業、獲利、體質的長期觀察。</li>
                            <li>時常虧錢、或是自由現金流量不足的公司竟然能配息...這就要提防是公司為了取悅市場，挖東牆補西牆的結果，最好不要碰這種不肖公司。</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                    </div>
                  <div class="tab-pane fade" id="green-d-tab-pane" role="tabpanel" aria-labelledby="green-d-tab">
                    <div class="row">
                      <div class="col-lg-12">{{ plot_industry_hold | safe }}</div>
                      <div class="col-lg-6">
                        {% if industry_holds %}
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>行業類別</th>
                                        <th>比重</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for industry_hold in industry_holds %}
                                        <tr>
                                            <td>{{ industry_hold.industry_holder }}</td>
                                            <td>{{ industry_hold.percentage }}%</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <H3 class="text-center"><strong>{{ stock_code }}未有行業比重紀錄</strong></H3>
                        {% endif %}
                      </div>
                      <div class="col-lg-6">
                        {% if stock_holds %}
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>前十大持股</th>
                                        <th>比重</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock_hold in stock_holds %}
                                        <tr>
                                            <td>{{ stock_hold.stock_holder }}</td>
                                            <td>{{ stock_hold.percentage }}%</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>{{ stock_code }}未有持股比重紀錄</p>
                        {% endif %}
                      </div>
                      <p class="text-muted mt-5">
                        ＊ETF並非單一股票或單一債券組合而成，
                        而是一籃子投資標組合而成的，ETF成分股決定了ETF的價值，
                        對於想要以低成本進行資產配置的投資人而言，深入了解基金組合比例是偏重股票、期貨、債券，
                        再進一步分析股票型的產業分布、持股明細和持股權重比例，可掌握到底是哪些成分股的表現影響ETF成長或衰退，
                        也可以在ETF選股時，盡可能避免購買單支成分股權重過高的ETF，較容易使投資風險過於集中。基金淨值會隨持有個股的每日股價而變動，
                        基金經理人不會頻繁調整持股比例，故證交所除每季公布持股比例外，每月亦會公布該基金所持個股中，淨資產價值比例排行前五大的個股。
                      </p>
                    </div>
                    </div>
                  <div class="tab-pane fade" id="green-e-tab-pane" role="tabpanel" aria-labelledby="green-e-tab">
                    <div class="row align-items-center">
                      <div class="col-lg-6">

                      <div>
                      <div class="col-lg-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}
